@model LOP.Models.Person

@{
    ViewData["Title"] = "Удаление";
}


<h3>Вы действительно желаете удалить ?</h3>
<div>
    
    
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            Имя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Должность
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            Фото
        </dt>
        <dd>
            @if (Model.Image != null)
            {
                <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
