@model IEnumerable<LOP.Models.User>

@{
    ViewData["Title"] = "Добавление пользователя в БД";
}

<p>
    <a class=" btn btn-primary btnp" asp-action="Register">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Роль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.RoleId == 1)
                    {
                        <text>Админ.</text>
                    }
                    else
                    {
                       <text>Польз.</text>
                    }

                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
