@model LOP.ViewModels.LoginModel


<div class="container">
    <div class="raw">
        <div class="col-md-6 col-md-offset-4 center-top">

            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="card" style="width: 18rem;">
                    <img width="200" class="card-img-top" src="~/images/Icons/Lock.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="form-group">
                            <dt>Логин</dt>
                            <input type="text" asp-for="Name" />
                            <span asp-validation-for="Name" />
                        </div>
                        <div class="form-group">
                            <dt>Пароль</dt>
                            <input asp-for="Password" />
                            <span asp-validation-for="Password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Войти" class="btn btn-outline-dark" />
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>


</div>






